body {
  font-family: "Noto Sans JP", sans-serif;
}

body::after {
  content: "";
  background-image: url(pexels-negative-space-97077.jpg);
  background-size: cover;
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.btn-primary {
  background-color: #213b73;
  border-color: #f2f4f7;
}

.hidden {
  display: none;
}

.container {
  margin-top: 50px;
}

.corIncText {
  font-color: grey;
  font-style: italic;
}
